
#top {
    background-color: lightgreen;
    }
#numeros{
    background-color: rgb(74, 142, 243);
    }
#letras{
    background-color: lightgray;
    }
#dispositivo{
    background-color: rgb(82, 198, 236);
}
#caras{
    background-color: orange;
}         
