td{
	background-color: white;
}
td + td{
	background-color: red;

}
td + td + td{
	background-color: green;

}
td + td + td + td{
	background-color: blue;

}

tr {
	color:teal;
}
tr+tr {
	color:red;
}
tr+tr+tr {
	color:blue;
}
tr+tr+tr+tr {
	color:orange;
}
tr+tr+tr+tr+tr {
	color:purple;
}
tr+tr+tr+tr+tr+tr {
	color:olive;
}
tr+tr+tr+tr+tr+tr+tr {
	color:fuchsia;
}
tr+tr+tr+tr+tr+tr+tr+tr {
	color:green;
}