#top{
background-color: red;
}
#nav{
background-color: green;
}
#caja{
background-color: blue;
}
#cabecera{
    background-color: blue;
    }
#articulo{
     background-color: blue;
     }